<%= include('includes/top.tmpl') %>

    <div class="main lang_<%= language %>">
    </div>

    <script type="text/template" id="map_controls_template">
    <%= include('includes/controls.tmpl') %>
    </script>
    <script type="text/template" id="panel_template">
    <%= include('includes/panel.tmpl') %>
    </script>

<%= include('includes/bottom.tmpl') %>