@import "news_special/defaults";
@import "app";

.election-map-svg{
	width: 750px;
	height: 750px;
	display: block;
	border: 1px solid black;
	overflow: visible;
}
.election-path{
	fill: #000;
    fill-opacity: .5;
}.election-path:hover{
	fill: red;
}

.map-locator{
	width: 150px;
	height: 150px;
	position: absolute;
	border: 1px solid black;
	top: 0;
	right: 0;

	.election-path{
		fill-opacity: 1;
		fill: green;
	}

	background-color: white;
}
.map-container{
	margin: auto;
	width: 750px;
	height: 750px;
	position: relative;
}

.locator {
  fill: transparent;
  stroke: #333;
  stroke-width: 1.5px;
}