.main-map--container{
	display: inline-block;
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;

	.main-map--svg{
		display: inline-block;
		position: absolute;
		background-color: #bacbdc;
		top: 0;
		left: 0;

		.constituency-path{
			fill: #fff;
			stroke: #bacbdc;
			stroke-width: 0.05;
		}
		.constituency-path:hover{
			fill: #e3e9f1;
		}
		.shetland--pullout{
			.shetland-pullout--box{
				stroke: #333;
				stroke-width: 1;
				fill: transparent;
			}
		}
		.shetland--pullout:hover{
			cursor: pointer;
			.constituency-path{
				fill-opacity: .6;
			}
		}
	}
}