.map-wrapper{
	position: relative;
	overflow: hidden;
	border: 1px solid #ededed;
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.main-map--container{
	display: inline-block;
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 112.5%;
	vertical-align: middle;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	.main-map--svg{
		display: inline-block;
		position: absolute;
		background-color: #bacbdc;
		top: 0;
		left: 0;
		-webkit-transform: translateZ(0);
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
		.repIre-svg{
			overflow: visible;
		}

		.constituency-path{
			fill: #fff;
			stroke: #dcdcdc;
			stroke-width: 0.05;
			cursor: pointer;
		}
		.outline-path{
			fill: #fff;
			fill-opacity: .5;
		}
		.constituency-path__campaign:hover{
			fill: #e3e9f1;
		}
		.constituency-path__selected, .constituency-path__selected:hover{
			fill: #f2f1f1;
		}
		.constituency-path__selected--campaign, .constituency-path__selected--campaign:hover{
			cursor: initial;
			stroke-width: 0.07;
			stroke: #505050;
		}
		.constituency-path__selected--results, .constituency-path__selected--results:hover{
			cursor: initial;
			stroke-width: 0.15;
			stroke: #dcdcdc;
		}
		.constituency-path__selected--results__no-result, .constituency-path__selected--results__no-result:hover{
			stroke: #505050;
			stroke-width: 0.07;
		}
		.shetland--pullout{
			-webkit-transform: translateZ(0);
			-webkit-perspective: 1000;
			-webkit-backface-visibility: hidden;
			.shetland-pullout--box{
				stroke: #333;
				stroke-width: 1;
				fill: #bacbdc;
			}
		}
		.shetland--pullout:hover{
			cursor: pointer;
			.constituency-path{
				fill: #f2f1f1;
			}
		}
	}
}

.non-interactive .main-map--svg{
	.constituency-path, .shetland--pullout, .shetland--pullout .shetland-pullout--box{
		cursor: initial;
	}

	.constituency-path:hover, .shetland--pullout .constituency-path, .shetland--pullout:hover .constituency-path{
		fill: #fff;
	}
}