$panelOffset: 100px;

.map-panel{
	position: absolute;
	bottom: -($panelOffset);
	transition: bottom 0.9s;
	left: 0;
	right: 0;
	background-color: rgba(29,30,28,.85);
	padding: 8px 0 11px 10px;
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	
	.panel-title{
		display: block;
		font: bold 14px Arial;
		color: #FFF;
		text-decoration: none;

		.panel--arrow{
			color: #bd2920;
		}

		&:hover{
			text-decoration: underline;
		}
	}
	.panel-message{
		margin-top: 5px;
		display: block;
		font: 14px Arial;
		color: #FFF;
	}

	.panel-result{
		display: none;
		margin-top: 5px;
		font: 14px Arial;
		color: #FFF;

		.panel-result--party-colour{
			display: inline-block;
			width: 17px;
			height: 12px;
			margin-right: 6px;
		}
	}
}