$panelHeight: 56px;

.map-panel{
	position: absolute;
	bottom: -($panelHeight);
	transition: bottom 0.8s;
	left: 0;
	right: 0;
	height: $panelHeight;
	background-color: rgba(29,30,28,.85);
	padding: 8px 0 0 10px;

	.panel-title{
		display: block;
		font: bold 14px Arial;
		color: #FFF;
		text-decoration: none;

		.panel--arrow{
			color: #bd2920;
		}

		&:hover{
			text-decoration: underline;
		}
	}
	.panel-message{
		margin-top: 5px;
		display: block;
		font: 14px Arial;
		color: #FFF;
	}
}