<button class="map-controls--reset"><%- controls_reset %></button>
<div class="map-controls-pan">
	<button class="map-controls-pan_button map-controls-pan__left"><%- controls_left %></button>
	<button class="map-controls-pan_button map-controls-pan__up"><%- controls_up %></button>
	<button class="map-controls-pan_button map-controls-pan__right"><%- controls_right %></button>
	<button class="map-controls-pan_button map-controls-pan__down"><%- controls_down %></button>
</div>
<button class="map-controls-zoom map-controls--zoom-in"><span>+</span></button>
<button class="map-controls-zoom map-controls--zoom-out"><span>-</span></button>