<button class="map-controls--reset">Reset</button>
<div class="map-controls-pan">
	<button class="map-controls-pan_button map-controls-pan__left">Left</button>
	<button class="map-controls-pan_button map-controls-pan__up">Up</button>
	<button class="map-controls-pan_button map-controls-pan__right">Right</button>
	<button class="map-controls-pan_button map-controls-pan__down">Down</button>
</div>
<button class="map-controls-zoom map-controls--zoom-in"><span>+</span></button>
<button class="map-controls-zoom map-controls--zoom-out"><span>-</span></button>