<a href="#" data-url="<%= panel_url %>" class="panel-title"><span class="panel-title__constituency"></span> <span class="panel--arrow">&gt;</span></a>
<span class="panel-message" data-results-default="<%= panel_results_default_message %>"><%= panel_default_message %></span>
<div class="panel-result"><span class="panel-result--party-colour"></span><span class="panel-result--declare-string"></span></div>