<a target="_top" href="#" data-url="<%= panel_url %>" class="panel-title"><span class="panel-title__constituency"></span> <span class="panel--arrow">&gt;</span></a>
<span class="panel-message">Find out who is standing in this constituency</span>