<a href="#" data-url="<%= panel_url %>" class="panel-title"><span class="panel-title__constituency"></span> <span class="panel--arrow">&gt;</span></a>
<span class="panel-message"><%= panel_default_message %></span>